<script>
document.getElementById("subtitle").innerHTML = "ルーム作成"
</script>
<br>
<span style="text-align:center">
<%= form_for @room, html: {class:"form-horizontal"},:url => {} do |f| %>
  <%= f.label :Rname, "ルーム名" %>
  <%= f.text_field :Rname %>
  <br>
  <br>
  <%= f.submit "Create room", class: "BlueButton" %>
<% end %>
<br />
<br />
<p align="center">管理キーを入力すると既存のグループを管理できます<br /></center>
<%= form_tag("roomAdminJoin/", method: "post" ,align:"center") do %>
  <%= label_tag(:q, "ルーム管理キー:") %>
  <%= text_field_tag "RadminKey", "" %><br><br>
  <%= submit_tag "管理対象ルームを切り替え",:class => "RedButton" %><br />
<% end %>
</span>
