<script>
document.getElementById("subtitle").innerHTML = "ルーム"
</script>
<p align="center">
<br>
<b>ルーム名</b>　<%= session[:Rname] %><br>
<b>入室コード</b>　<%= session[:Rchar] %>

  <br>
  <br>

  <b>パラメータ</b>

<br>
<%
    output = "";
    par=Paramater.where(Rid: session[:rid])

    par.each {|par0|
      output = output+"パラメータ名："
      output = output+ par0[:Pname]
      output = output+"　　選択肢の数："
      output = output+ par0[:format].to_s
      output = output+ "<br>"
    }
%>

<%

    output2 = "";
    usr=User.where(Rid:session[:rid])
    usr.each {|usr0|
      output2 = output2+"user名："
      output2 = output2+ usr0[:name].to_s
      output2 = output2+ "<br>"
    }
%>
<%=
    output.html_safe
%>
<br>
<%= link_to "追加", {:action => "AddParams"},{class: "BlueButton"}%>

<br>

<b>現在のルーム内の人数</b>
<br>
<%=
    usr.length
%>
<br>
<b>ユーザーリスト</b><br>
<%=
    output2.html_safe
%>
<br>
<%= form_tag("divideIntoTeams/", method: "post") do %>
  <%= label_tag(:q, "チーム数:") %>
  <%= number_field_tag(:teamNum, 2, min: 2) %>
  <%= submit_tag("チームに分ける") %>
  <br>
<% end %>

</p>
